extends _template.pug

block konten 
    div.popper
        .styles-h1
            h1 Apa kata Alumni?
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        p &nbsp;
        +Buttons('View All', '#testimonials')
        p &nbsp;
        div.contened
            div#testimonials.testimonials
                each item in alumni
                    +alumni(item.imageSrc, item.imageAlt, item.description, item.name)
            div.sidebar
                div.categories
                    h2 Categories
                    ul
                        li RPL
                        li TKJ
                        li MM
                        li TB
                        li OTKP
