extends _template.pug

block konten 
    .style-h1 
        h1 Contact Person
    .cover
        .contact-container
            .contact-info
                p
                i.fas.fa-phone-alt
                span (0271) 66717
                p
                i.fas.fa-envelope
                span @SMK.Nusa.Bangsa
                p
                i.fas.fa-envelope
                span admin@smk.nusabangsa.sch.id
            .map
                img(src="https://storage.googleapis.com/a1aa/image/WaVViNLkUeWedUJlHz2ak0TWIS7Ff0kc6c037Vn4LyeltHuOB.jpg", alt="Map showing the location of SMK Nusa Bangsa", height="150", width="200")
