extends _template

block konten
    .style-h1
        h1 Ekstrakullikuler
    .cover
        .gallery
            each ekstra in ekskul 
                +kolumnlItem(ekstra.imageSrc, ekstra.imageAlt, ekstra.description, ekstra.link)