extends _template

block konten
    .style-h1
        h1 Ekstrakullikuler
    .contaiiner
        .row
            each ekstra in ekskul 
                +ektraItem(ekstra.imageSrc, ekstra.imageAlt, ekstra.description)
                    