extends _template.pug

block konten
  h1 Faqs
    .wrapper
      include component/faq.pug

      +accordion("What is Krushi?", "Krushi is a Public Charitable Trust designed to carry out farming on extensive scale Natural & Sustainable methods.")
      +accordion("What is the purpose of Krushi?", "The purpose of Krushi is to promote eco-friendly farming and sustainable agricultural practices.")

  script(src="component/script/faq.js")
