extends _template.pug

block konten
    .fasilitas-h1 
        h1 Fasilitas    
    .cover
        .gallery
            each item in fasilitas 
                +fasilitasItem(item.src, item.alt, item.text)