extends _template.pug

block konten
    h1 Fasilitas
    .covering
        .gallery
            img(src="#" alt="A green building with a red roof and a surrounding garden" width="400" height="300")
            img(src="#" alt="A person arranging books on a wooden bookshelf in a library" width="400" height="300")
            img(src="#" alt="An outdoor basketball court with trees in the background" width="400" height="300")
            img(src="#" alt="A parking area with many motorcycles lined up under a roof" width="400" height="300")
            img(src="#" alt="Students in a science lab with anatomical models in the background" width="400" height="300")
            img(src="#" alt="A computer lab with several computers on desks" width="400" height="300")