extends _template.pug

block konten
    .carousel
      .arrow
        | &lt;

        each kolumnItem in kolumn
            +kolumnItem(kolumnItem.imageSrc, kolumnItem.imageAlt, kolumnItem.description)

      .arrow
        | &lt;
