extends _template.pug

block konten 

.containerrr
      .tulisan Memperingati kegiatan maulid nabi
      .imagezoom
        img(src="https://media.kompas.tv/library/image/content_article/article_img/20230915235531.jpg" alt="A group of student paintings displayed on a wall, with a person observing them." width="600" height="300")
      .deskripsi
        | Menggelar pameran seni lukis di RTH Taman Bung Karno dalam Pekan Apresiasi Seni Kabupaten Buleleng. Pameran ini merupakan kerja sama dengan Sanggar Seni Lukis Kaca Nagasepaha t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        