extends _template.pug

block konten
    .style-h1
        h1 News
    .covers
        .containeer
        each newsItem in rowlist
            +newsItem(newsItem.imageSrc, newsItem.imageAlt, newsItem.description)