extends _template.pug

block konten 
    .style-h1 
        h1 pengumuman 
    .covers
        .div.konten
        img(alt="link" height="300" src="component/img/link.png" width="300")
        .div.foo
            p SMK Nusa Bangsa mulai tanggal 22 februari 2024 penerimaan siswa baru telah dibuka gelombang 1     
        br
        br
        .paragraf
            h2 pengumuman lainnya
        .carousel-container           
            .carousel
                each item in pengumumanzoom 
                    +kolumnlItem(item.imageSrc, item.imageAlt, item.description)


        
      


