extends _template.pug

block konten
  .style-h1
    h1 Pengumuman
  .cover
    .gallery
        each item in pengumuman
          +kolumnlItem(item.imageSrc, item.imageAlt, item.description)
        +navigationButtonsLeft('Next', 'pengumuman2.html')