extends _template.pug

block konten 
    .style-h1
        h1 Sejarah
    .covers
        .div.konten
            img(alt="Gambar sekolah menengah kejuruan Nusa Bangsa", height="200", src="https://asset-2.tstatic.net/bogor/foto/bank/images/unb-bgr.jpg", width="300")
            p 
                Sekolah Menengah Kejuruan Nusa Bangsa berdiri pada tanggal 10 Februari 2009. Kini telah meluluskan kurang lebih 1000 siswa dari tahun 2012 sampai sekarang. Sekolah ini beralamat di Jl. Raya Timur No. 4 Batuan dan memiliki 3 kompetensi keahlian, yaitu Teknik Komputer dan Jaringan (TKJ).

        .div.foo
            p 
                Rekayasa Perangkat Lunak (RPL) dan Teknik Mesin berbekal dari kepercayaan masyarakat terhadap SMK Nusa Bangsa, yang meluluskan siswa-siswi yang berakhlak dan berkualitas. SMK Nusa Bangsa akan selalu mendedikasikan layanan pendidikannya untuk kemajuan masyarakat pada umumnya dan khususnya bagi masyarakat lokal, melalui kegiatan atau aktivitasnya.
