extends _template.pug

block konten 
    .style-h1
        h1 Sejarah
    .covers
        .div.konten
            img(alt="Gambar sekolah menengah kejuruan Nusa Bangsa", height="200", src="https://asset-2.tstatic.net/bogor/foto/bank/images/unb-bgr.jpg", width="300")
            p Sekolah Menengah Kejuruan Nusa Bangsa berdiri pada tanggal 10 Februari 2009. Kini telah meluluskan kurang lebih 1000 siswa dari tahun 2012 sampai sekarang. Sekolah ini beralamat di Jl. Raya Timur No. 4 Batuan dan memiliki 3 kompetensi keahlian, yaitu Teknik Komputer dan Jaringan (TKJ). Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                | industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                | into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                | into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                | release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                | software like Aldus PageMaker including versions of Lorem Ipsum.

        .div.foo
            p Rekayasa Perangkat Lunak (RPL) dan Teknik Mesin berbekal dari kepercayaan masyarakat terhadap SMK Nusa Bangsa, yang meluluskan siswa-siswi yang berakhlak dan berkualitas. SMK Nusa Bangsa akan selalu mendedikasikan layanan pendidikannya untuk kemajuan masyarakat pada umumnya dan khususnya bagi masyarakat lokal, melalui kegiatan atau aktivitasnya. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                | industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                | into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                | into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                | release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                | software like Aldus PageMaker including versions of Lorem Ipsum
