extends _template.pug

block konten
    .cover
        .kontainer
            .style-h1
                h1 Buku Tamu
            hr
            .cover
                each field in visit
                    +inputGroup(field.name, field.type, field.label)
                +navigationButtons('Submit')