- 
  const faqs = [
    {
      "question": "What is Krushi?",
      "answer": "Krushi is a Public Charitable Trust designed to carry out farming on extensive scale Natural and Sustainable methods."
      }, 
    {
      "question": "What is the purpose of Krushi?",
      "answer": "The purpose of Krushi is to promote eco-friendly farming and sustainable agricultural practices."
      }
  ]