include navbar.pug
include footer.pug 
include agenda.pug 
include button.pug 
include ekstrakulikuler.pug 
include faq.pug 
include fieldInput.pug 
include kolumlist.pug 
include rowlist.pug 
include share-button.pug
include prestasi.pug
include fasilitas.pug
include galeri.pug