mixin navigationButtons(nextLabel = 'Next', nextLink = '#')
    .button-container
        a.btn(href=nextLink) #{nextLabel}


mixin navigationButtonsLeft(nextLabel = 'Next', nextLink = '#')
    .button-container-left
        a.btn(href=nextLink) #{nextLabel}

//- cara manggil 
//- +navigationButtons()
//- +navigationButtons('Next Page', 'Previous Page') jika ingin diubah nama buttonnya

