mixin navigationButtons(nextLabel = 'Next')
    .button-container
        button.btn(type="button")= nextLabel

//- cara manggil 
//- +navigationButtons()
//- +navigationButtons('Next Page', 'Previous Page') jika ingin diubah nama buttonnya

