mixin navigationButtons(nextLabel = 'Next', prevLabel = 'Prev')
  button.btn(type="button")= nextLabel
  button.btn(type="button")= prevLabel
//- cara manggil 
//- +navigationButtons()
//- +navigationButtons('Next Page', 'Previous Page') jika ingin diubah nama buttonnya

