mixin ektraItem(imageSrc, imageAlt, linkHref, description)
  .item
    img(src=imageSrc alt=imageAlt)
    .captions
      a(href=linkHref)= description


//- each ekstra in ekskul
//-   +activityItem(ekstra.imageSrc, ekstra.imageAlt, ekstra.description) //pemanggilan