mixin activityItem(imageSrc, imageAlt, description)
  .item
    img(alt=imageAlt, src=imageSrc)
    p #{description}


//- each ekstra in ekskul
//-   +activityItem(ekstra.imageSrc, ekstra.imageAlt, ekstra.description) //pemanggilan