mixin ektraItem(imageSrc, imageAlt, description)
  .item
    img(src=imageSrc alt=imageAlt)
    .captions= description

//- each ekstra in ekskul
//-   +activityItem(ekstra.imageSrc, ekstra.imageAlt, ekstra.description) //pemanggilan