.navbar
      .logo
        img(alt="Logo" height="40" src="logo.jpeg" width="40")
        a(href="#" style="color: white;") Logo ku
      .nav-links
        div
          a(href="#") Home
          .dropdown
            a.dropbtn(href="#" id="aboutBtn") About
            ul.dropdown-content(id="aboutDropdown")
              li: a(href="#") Sejarah
              li: a(href="#") Struktur
              li: a(href="#") Visi Misi
              li: a(href="#") Fasilitas
              li.dropdown-submenu
                a.galeri-btn(href="#" id="galeriBtn")
                  | Galeri
                  span.arrow &#9654; <!-- Panah ke kanan -->
                ul.dropdown-content-submenu(id="galeriDropdown")
                  li: a(href="#") Photos
                  li: a(href="#") Videos
              li.dropdown-submenu
                a.tentang-btn(href="#" id="tentangBtn")
                  | Tentang Kami
                  span.arrow &#9654;
                ul.dropdown-content-submenu(id="tentangDropdown")
                  li: a(href="#") Agenda
                  li: a(href="#") Jurusan
                  li: a(href="#") Prestasi
                  li: a(href="#") Ekskul
              li: a(href="#") Pengumuman
              li: a(href="../faq.html") FAQ's
          a(href="#") News
          a(href="#") Contact
      .visit
        a.visit-btn(href="#") Visit
