mixin navbar(logoSrc, logoAlt = 'Logo', logoText = 'Logo ku')
  .navbar
    .logo
      img(alt=logoAlt height="40" src=logoSrc width="40")
      a(href="#" style="color: white;")= logoText
    .nav-links
      div
        a(href="index.html") Home
        .dropdown
          a.dropbtn(href="#" id="aboutBtn") About
          ul.dropdown-content(id="aboutDropdown")
            li: a(href="sejarah.html") Sejarah
            li: a(href="struktur.html") Struktur
            li: a(href="visi-misi.html") Visi Misi
            li: a(href="fasilitas.html") Fasilitas
            li.dropdown-submenu
              a.galeri-btn(href="#" id="galeriBtn")
                | Galeri
                span.arrow &#9654;
              ul.dropdown-content-submenu(id="galeriDropdown")
                li: a(href="photos.html") Photos
                li: a(href="videos.html") Videos
            li.dropdown-submenu
              a.tentang-btn(href="#" id="tentangBtn")
                | Tentang Kami
                span.arrow &#9654;
              ul.dropdown-content-submenu(id="tentangDropdown")
                li: a(href="agenda.html") Agenda
                li: a(href="jurusan.html") Jurusan
                li: a(href="prestasi.html") Prestasi
                li: a(href="ekskul.html") Ekskul
            li: a(href="pengumuman.html") Pengumuman
            li: a(href="faq.html") FAQ's
        a(href="news.html") News
        a(href="contact.html") Contact
    .visit
      a.visit-btn(href="visit.html") Visit
