mixin shareButtons(url)
  h2 Bagikan Artikel Ini:
    .share-buttons
      a(href="https://www.facebook.com/sharer/sharer.php?u="+url, class="share-button", target="_blank")
        i.fab.fa-facebook-f Facebook
      a(href="https://twitter.com/intent/tweet?url="+url, class="share-button", target="_blank")
        i.fab.fa-twitter Twitter
      a(href="https://www.telegram.com/sharing/share-offsite/?url="+url, class="share-button", target="_blank")
        i.fab.fa-telegram Telegram
      a(href="https://wa.me/?text="+url, class="share-button", target="_blank")
        i.fab.fa-whatsapp WhatsApp

//- +shareButtons()
 